<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bysj.mapper.BorretMapper">

    <update id="updateBorret" parameterType="com.example.bysj.enity.Borret">

        update bysj_borret a set
        <if test="borret.dreturn != null ">
            a.dreturn = #{borret.dreturn}
        </if>
        <if test="borret.retscode != null and borret.retscode != ''">
            ,a.retscode = #{borret.retscode}
        </if>
        <if test="borret.retstate != null and borret.retstate != ''">
            ,a.retstate = #{borret.retstate}
        </if>
        where
            a.id = #{borret.id}
    </update>
</mapper>
