<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bysj.mapper.FilesMapper">

    <select id="readAllByMd5" resultType="com.example.bysj.enity.Files">
        select * from bysj_files a where a.md5 = #{md5}
    </select>

</mapper>
