<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bysj.mapper.ConsumerMapper">
    <select id="readOne" resultType="com.example.bysj.enity.Consumer"
             >
        select * from bysj_Consumer where cid = #{id} and idel = 0 <if test="id"></if>
    </select>

    <select id="readByPhone" parameterType="com.example.bysj.enity.Consumer"
            resultType="com.example.bysj.enity.Consumer">
        select * from bysj_Consumer where phonenumber = #{consumer.phonenumber} and idel = 0
    </select>

    <select id="readAllConsumer" resultType="com.example.bysj.enity.Consumer"
            >
        select * from bysj_Consumer where idel = 0

    </select>

    <select id="readCount" resultType="java.lang.Integer">
        select count(*) from bysj_Consumer where idel = 0
    </select>

    <update id="updateOne" parameterType="com.example.bysj.enity.Consumer">
        update bysj_Consumer a set
        <if test="consumer.sname != null and consumer.sname !=''">
            a.sname = #{consumer.sname},
        </if>
        <if test="consumer.password != null and consumer.password != ''">
            a.password = #{consumer.password},
        </if>
        <if test="consumer.phonenumber != null and consumer.phonenumber != ''">
            a.phonenumber =#{consumer.phonenumber},
        </if>
        <if test="consumer.iaccount != null">
            a.iaccount = #{consumer.iaccount},
        </if>
        <if test="consumer.istage != null">
            a.istage = #{consumer.istage},
        </if>
        <if test="consumer.isumcount != null">
            a.isumcount = #{consumer.isumcount},
        </if>
        <if test="consumer.idepositcount != null">
            a.idepositcount = #{consumer.idepositcount},
        </if>
        <if test="consumer.discount != null">
            a.discount = #{consumer.discount},
        </if>
        <if test="consumer.address != null and consumer.address !=''">
            a.address = #{consumer.address},
        </if>
        <if test="consumer.role != null and consumer.role != ''">
            a.role = #{consumer.role},
        </if>
        <if test="consumer.avatarurl != null and consumer.avatarurl != ''">
            a.avatarurl = #{consumer.avatarurl},
        </if>
            a.idel = 0
          where a.cid = #{consumer.cid}

    </update>

    <delete id="delConsumer" parameterType="com.example.bysj.enity.Consumer">
        delete
        from
        bysj_Consumer a
        where
        a.Cid = #{consumer.cid}
    </delete>

    <delete id="delListConsumer">
        delete
        from
        bysj_Consumer a
        where
        a.Cid
        in
        <foreach collection="delList" index = "index" item="consumer"
                 open="(" separator="," close=")">
            #{consumer.cid}
        </foreach>
    </delete>

    <select id="login" parameterType="com.example.bysj.param.ConsumerParam"
            resultType="com.example.bysj.enity.Consumer">
        SELECT
	    a.*
        FROM
	    bysj_consumer a
        WHERE
	    ( a.phonenumber = #{consumerParam.consumerCondition} OR a.scode = #{consumerParam.consumerCondition} )
	    AND a.password = #{consumerParam.password}
	    AND a.idel = 0
    </select>

    <select id="getList" parameterType="com.example.bysj.param.ConsumerParam"
            resultType="com.example.bysj.enity.Consumer">
        SELECT
	    a.*
        FROM
	    bysj_consumer a
        WHERE
	    ( a.phonenumber = #{consumerParam.consumerCondition} OR a.scode = #{consumerParam.consumerCondition} )
	    AND a.idel = 0
    </select>


    <select id="readOneByPhone" resultType="com.example.bysj.enity.Consumer">

        select * from bysj_consumer a where a.phonenumber = #{phone} and a.idel = 0

    </select>

    <select id="forgetPasswordCheck" resultType="com.example.bysj.enity.Consumer">
        select * from bysj_consumer a where a.scode = #{scode} and a.phonenumber = #{phonenumber} and a.idel = 0
    </select>
</mapper>
