<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bysj.mapper.GoodsMapper">

    <select id="getGoodsByCondition" parameterType="com.example.bysj.param.GoodsParam"
            resultType="com.example.bysj.enity.Goods">
        select
        a.*
        from
        bysj_Goods a
        where
        a.idel = 0
        <if test="goods.Gtype != null">
            and a.Gtype = #{goods.Gtype}
        </if>
        <if test="goods.Gname !=null and goods.Gname!=''">
            and a.Gname = #{goods.Gname}
        </if>
        <if test="goods.Gdesciber != null and goods.Gdesciber != ''">
            and a.Gdesciber = #{goods.Gdesciber}
        </if>
        <if test="goods.Gprice!=null">
            and (a.Gprice > #{goods.lowprice} and #{goods.highprice} > a.Gprice)
        </if>

    </select>
    <!--批量下架-->
    <update id="delList">
        update
        bysj_Goods a
        set a.idel =1
        where
        a.Gid
        in
        <foreach collection="delList" index = "index" item="goods"
                 open="(" separator="," close=")">
            #{goods.gid}
        </foreach>

    </update>

    <!--下架商品-->
    <update id="delgoods" parameterType="com.example.bysj.enity.Goods">
     update
     bysj_Goods a
     set a.idel = 1
     where
     a.gid = #{goods.gid}
    </update>

    <update id="updateOne" parameterType="com.example.bysj.enity.Goods">
        update bysj_Goods a set
        <if test="goods.gname != null and goods.gname != ''">
            a.gname =#{goods.gname}
        </if>
        <if test="goods.gdesciber != null and goods.gdesciber != ''">
            ,a.gdesciber = #{goods.gdesciber}
        </if>
        <if test="goods.gprice != null">
            ,a.gprice = #{goods.gprice}
        </if>
        <if test="goods.gnumber != null">
            ,a.gnumber = #{goods.gnumber}
        </if>
        <if test="goods.todaydiscount != null">
            ,a.todaydiscount = #{goods.todaydiscount}
        </if>
        <if test="goods.sellstate != null and goods.sellstate !=''">
            ,a.sellstate = #{goods.sellstate}
        </if>
        <if test="goods.supply != null">
            ,a.supply = #{goods.supply}
        </if>
        <if test="goods.gsum != null">
            ,a.gsum = #{goods.gsum}
        </if>
        where a.gid = #{goods.gid}
    </update>

    <!--获取当前商品信息-->
    <select id="getOne" parameterType="com.example.bysj.enity.Goods"
            resultType="com.example.bysj.enity.Goods">
        select a.* from bysj_Goods a where a.gid = #{goods.gid}
    </select>

    <update id="setDiscount">
        update bysj_goods a set a.todaydiscount = #{discount} where a.idel = 0
    </update>
</mapper>
